<!DOCTYPE html>
{{ DISPLAY_PAGE_ON_MENU }}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">

    <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/showcase.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/showcase-icons.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/showcase-pygments.css" rel="stylesheet">
    {% include "analytics.html" %}
    {% include "disqus.html" %}
  </head>
  <body>
    {% include "facebook.html" %}

    <div class="container site-container">
      <div class="row">
        <div class="span12 text-center">
          {% if SITELOGOURL %}
          <a href="{{ SITEURL }}"><img src="{{ SITELOGOURL }}" class="header" /></a>
          {% else %}
          <a style="text-decoration: none" href="{{ SITEURL }}"><h1>{{SITENAME}}</h1></a>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="span12 centered-pills">
          <ul class="nav nav-pills">
            <li {% if not page %}class="active"{% endif %}><a href="/">Blog</a></li>
            {% for title, link in MENUITEMS %}
            <li {% if page and page.title == title %}class="active"{% endif %}><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          {% block indextitle %}<div class="page-header"><h1>{% block title %} {{ self.windowtitle() }} {% endblock %}</h1></div>{% endblock %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <footer class="footer">
    <div class="container">
      <p> 
        {% if FACEBOOK_URL %}
        <a href="{{ FACEBOOK_URL }}"><i class="icon-color-facebook icon-2x icon-facebook-sign"></i></a>
        {% endif %}
        {% if TWITTER_URL %}
        <a href="{{ TWITTER_URL }}"><i class="icon-color-twitter icon-2x icon-twitter-sign"></i></a>
        {% endif %}
        {% if GITHUB_URL %}
        <a href="{{ GITHUB_URL }}"><i class="icon-color-github icon-2x icon-github-alt"></i></a>
        {% endif %}
      </p>
      <p><a href="http://github.com/minksoftware/pelican-showcase">Showcase</a> based on <a href="http://twitter.github.com/bootstrap/">Bootstrap, from Twitter</a>.</p>
      <p><a href="http://fortawesome.github.com/Font-Awesome">Font Awesome by Dave Gandy</a></p>
      <p>&copy; {% if COPYRIGHT_HOLDER %} {{ COPYRIGHT_HOLDER }} {% else %} {{ AUTHOR }} {% endif %} 2013</p>
    </div>
    </footer>

    {% include 'disqus_count_script.html' %}
  </body>
</html>
